
@model Library.Models.Books
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.ISBN)
                @Html.TextBoxFor(m => m.ISBN, new { @type = "number" })
            </li>
            <li>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
            </li>
            <li>
                @Html.LabelFor(m => m.Author)
                @Html.TextBoxFor(m => m.Author)
            </li>
            <li>
                @Html.LabelFor(m => m.Category)
                @Html.DropDownListFor(m => m.Category, Enum.GetNames(typeof(Library.Models.Categories)).Select(e => new SelectListItem { Text = e }))
            </li>
        </ol>
        <input type="submit" value="Add Book" />
    </fieldset>
}
