@model Library.Models.AllBooksModel
@{
    ViewBag.Title = "All Books";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<table>
<tr>
    <th>
        ISBN
    </th>
    <th>
        Title
    </th>
    <th>
        Author
    </th>
    <th>
        Category
    </th>
    <th></th>
</tr>
@foreach (var book in Model.AllBooks)
{
 <tr>
    <td>
        @book.ISBN
    </td>
    <td>
        @book.Title
    </td>
    <td>
        @book.Author
    </td>
    <td>
        @book.Category
    </td>
   </tr> 
}
</table>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Add a Book</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewBook.ISBN)
                @Html.TextBoxFor(m => m.NewBook.ISBN, new { @type = "number" })
            </li>
            <li>
                @Html.LabelFor(m => m.NewBook.Title)
                @Html.TextBoxFor(m => m.NewBook.Title)
            </li>
            <li>
                @Html.LabelFor(m => m.NewBook.Author)
                @Html.TextBoxFor(m => m.NewBook.Author)
            </li>
            <li>
                @Html.LabelFor(m => m.NewBook.Category)
                @Html.DropDownListFor(m => m.NewBook.Category, Enum.GetNames(typeof(Library.Models.Categories)).Select(e => new SelectListItem { Text = e }))
            </li>
        </ol>
        <input type="submit" value="Add Book" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
